html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --sandtan: #e1b382;
    --sandtanshadow: #c89666;
    --nightblue: #2d545e;
    --nightblueshadow: #12343b;
    font-family: "Lora";
}
::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar ← You're missing this */
    border: 1px solid var(--sandtanshadow);
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: var(--sandtanshadow);
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    flex-direction: column;
}
.navBar {
    height: 8vh;
    background-color: var(--nightblueshadow);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 7vw;
}
    div.logo {
        color: var(--sandtan);
        font-size: 36px;
    }

.formBar {
    background-color: var(--nightblue);
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    form {
        border-radius: 6px;
        display: grid;
        grid-template-rows: 4vh 12vh 4vh;
        grid-template-columns: 20vw 20vw 20vw 20vw;
    }
        .addBookLogo {
            grid-area: 1 / 1 / 2 / 5;
            margin: auto;
            font-size: 20px;
            color: white;
        }
        .authorFormSection {
            grid-area: 2 / 1 / 3 / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 20px;
        }.titleFormSection {
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 20px;
        }
        .pagesFormSection {
            grid-area: 2 / 3 / 3 / 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 20px;
        }.readFormSection {
            grid-area: 2 / 4 / 3 / 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 20px;
        }
        label{
            color: white;
        }
        input[type="text"] {
            border-radius: 14px;
            border: 0;
            height: 25px;
        }
        .btnAdd {
            grid-area: 3 / 1 / 4 / 5;
            width: 12vw;
            height: 3.8vh;
            justify-self: center;
            align-self: center;
            border-radius: 16px;
            border: none;
        }
    
    .bookDisplayBar {
        height: 66vh;
        background-color: var(--sandtan);
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .bookDisplay {
            width: 94vw;
            display: grid;
            overflow-x: auto;
            grid-auto-flow: column;
            grid-template-columns: repeat(auto-fill, 340px);
            height: 460px;
        }
            .bookCard {
                background-color: #c89666;
                box-shadow: 5px 5px var(--nightblueshadow);
                margin: 20px;
                height: 400px;
                width: 280px;
                display: grid;
                grid-template-rows: repeat(5, 80px);
            }
                .authorSection,
                .titleSection,
                .pagesSection,
                .readSection,
                .controlSection {
                    align-self: center;
                    justify-self: center;
                    display: flex;
                    height: 50px;
                    width: 240px;
                }
                    .bookCard .lblAuthor,
                    .bookCard .lblTitle,
                    .bookCard .lblPages,
                    .bookCard .lblRead {
                        color: var(--nightblueshadow);
                        font-style:italic;
                        align-self: center;
                        text-align: right;
                        width: 56px;
                    }
                    .bookCard .fldAuthor,
                    .bookCard .fldTitle,
                    .bookCard .fldPages,
                    .bookCard .fldRead {
                        color: var(--nightblueshadow);
                        align-self: center;
                        justify-self: left;
                        margin-left: 20px;
                        font-size: 24px;
                    }
                    .controlSection {
                        display: flex;
                        justify-content: space-between;
                    }
                        .bookCard .btnRead,
                        .bookCard .btnUnread,
                        .bookCard .btnRemove{
                            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                            border: none;
                            width: 75px;
                            height: 30px;
                            color: var(--nightblueshadow);
                            font-family: 'Fira Code';
                            font-weight: 600;
                            letter-spacing: 1.2px;
                            background-color: rgb(238, 238, 238);
                        }
                        .bookCard .btnRemove {
                            color: rgb(163, 0, 0);
                        }
        























